nav {
    
    background-color:  #101728;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center; /* Ajout de cette ligne */
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
.ban{
    width: 100%;
    height: 320px;
}


  body{
    margin: 0;
    padding: 0;
    background-color:  #101728;
}


  .left {
    flex: 1;
  }
  
  .right {
    flex: 1;
    text-align: right;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center; /* Ajout de cette ligne */
    
  }
  
  li {
    display: inline-block;
    margin-left: 40px;
    
    
  }
  
  a {
    text-decoration: none;
    color:white;
    font-size: 20px;
  }
  h1{
    color: aliceblue;
    margin-left: 20px;
  }

  .text{
    color: aliceblue;
    text-align: center;
    font-family: Arial, sans-serif;   
  }

.logo{
    width: 35px;
}
.titre{
    text-align: center;
}
.deco{
    width: 100%;
    height: 350px;
}

.image-list {
  overflow-x: auto; /* Activer le défilement horizontal */
  white-space: nowrap; /* Empêcher les images de passer à la ligne */
  width: 100%; /* Ajuster la largeur selon vos besoins */
}

.image-list img {
  display: inline-block; /* Afficher les images en ligne */
  width: 400px; /* Ajuster la largeur des images selon vos besoins */
  height: auto; /* Ajuster la hauteur automatiquement */
  margin-right: 10px; /* Ajouter un espacement horizontal entre les images */
}



/* Largeur de la barre de défilement */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Couleur de fond de la barre de défilement */
::-webkit-scrollbar-track {
  background-color: #101728;
}

/* Couleur de la poignée de défilement */
::-webkit-scrollbar-thumb {
  background-color: #043d7e;
}

/* Couleur de la poignée de défilement lorsqu'elle est survolée */
::-webkit-scrollbar-thumb:hover {
  background-color: #032e60;
}


.div1{
  background-color: aliceblue;
  text-align: center;
  font-family: Arial, sans-serif;  
 width: 250px;
 margin: 20px;
 padding-bottom: 30px; ;
 border-radius: 10px 10px 60px 60px;
 box-shadow: 20px ;
}
#titre{
  color: black;
}
.div1 img{
  width: 100px;
} 

.container{
  margin-top: 100px;
  margin-bottom: 50px;
}

.div1 button{
  width: 100px;
  background-color: #043d7e;
  color: aliceblue;
  border: none;
  padding-top: 10px;
padding-bottom: 10px;  
border-radius: 10px;
cursor: pointer;
} 
.div1 button:hover{
  background-color: #0971e7;

}

.liste .container{
  text-align: center;
  margin-top: 45px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.bw:hover{
  color: aliceblue;
}
a:hover{
  color: #bfdb07;
}